table {
  width: 100%;
  border-collapse: collapse; /* Объединяем границы */
}

thead tr {
  border-bottom: 3px solid #D9D9D9; /* Линия под заголовком */
}

th {
  padding: 10px;
  text-align: left; /* Выравнивание текста влево */
}

td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #D9D9D9; /* Линии между строками */
}

.edit-user {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url('edit.svg');
  background-size: contain; /* Масштабирование под размер кнопки */
  background-repeat: no-repeat; /* Не повторять */
  background-position: center; /* Центрирование */
  cursor: pointer;
}

.trash-user {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url('trash.svg');
  background-size: contain; /* Масштабирование под размер кнопки */
  background-repeat: no-repeat; /* Не повторять */
  background-position: center; /* Центрирование */
  cursor: pointer;
}

.account-user {
  width: 36px;
  height: 36px;
  border: none;
  background-image: url('user.svg');
  background-size: contain; /* Масштабирование под размер кнопки */
  background-repeat: no-repeat; /* Не повторять */
  background-position: center; /* Центрирование */
  cursor: pointer;
}