.dropzone {
  .dropzone-input {
    width: 291px;
    height: 162px;
    background: #9D9D9C;
    border-radius: 20px;
    margin-bottom: 19px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}