.playlists {
  a {
    text-decoration: none;
    color: #000000;
  }

  .playlists-main {
    min-height: 275px;
    width: 100%;
    background-image: url("../../public/static/images/main-background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    .playlists-main-title {
      width: 295px;
      height: 80px;
      padding: 16px 96px;
      font-size: 35px;
      font-weight: 600;
      color: #fff;
      background: #244A9A;
      border-radius: 98px;
      box-sizing: border-box;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .playlists-search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 76%;
      height: 30px;
      margin-bottom: 25px;

      .playlists-search-element {
        padding: 4px 15px;
        box-sizing: border-box;
        border-radius: 20px;
        font-size: 16px;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }

      input {
        border: 3px solid #9D9D9C;
      }

      .playlists-search-specialization {
        width: 336px;
      }

      .playlists-search-title {
        width: 597px;
      }

      .playlists-sesrch-button {
        width: 336px;
        color: #fff;
        background: #112D69;
        text-align: left;
      }
    }

    .playlists-list {

      .playlists-element {
        width: 315px;
        margin-bottom: 36px;

        .playlists-element-image {
          width: 315px;
          height: 177px;
          margin-bottom: 10px;
          background: #9D9D9C;
          border-radius: 12px;
          overflow: hidden;

          img {
            width: 315px;
            height: 177px;
            object-fit: cover;
            object-position: center center;
          }
        }
        .playlists-element-info {
          display: flex;

          .playlists-element-info-photo {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            background: #9D9D9C;
            border-radius: 50%;
            overflow: hidden;
          }

          .playlists-element-info-title {
            font-size: 16px;
          }

          .playlists-element-info-author {
            font-size: 12px;
          }
        }
      }
    }
  }
}